<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wandering-Sarrthi</title>

    <link rel="stylesheet" href="/show.css">


</head>

<body>


    <div class="wrapper">

        <!-- nav bar -->
        <nav id="nav1">
            <a href="/">Home</a>

            <a href="">Gallery</a>
        </nav>

        <!-- Header -->
        <div id="title-img" style="background-image:url(<%=postsShow.title_img%>) ;">

            <h1>
                <%=postsShow.title%>
            </h1>

        </div>
        <!-- Blog Body -->
        
        <div id="blog-body">
            <h1 class="blogCaption">Date Traveled:<%=postsShow.Date%></h1>
            <div class="blogText">
               
                <h1><%=postsShow.Paragraph1_title%></h1>
                <%=postsShow.Paragraph1%> 
            </div>
            <div class="blogText">
                <h1><%=postsShow.Paragraph2_title%></h1>
                <%=postsShow.Paragraph2%>
            </div>
            <div class="blogText">
                <h1><%=postsShow.Paragraph3_title%></h1>
                <%=postsShow.Paragraph3%>
                
                
            </div>
        </div>
<!-- <div class="imgHeading"><h1>Trip Image Gallery</h1></div> -->

    <div class="img-box">
    
                    <a href="<%=postsShow.galleryImg1%>" target="_blank"><img src="<%=postsShow.galleryImg1%>" alt=""></a>
                    <a href="<%=postsShow.galleryImg2%>" target="_blank"><img src="<%=postsShow.galleryImg2%>" alt=""></a> 
                    <a href="<%=postsShow.galleryImg3%>" target="_blank"><img src="<%=postsShow.galleryImg3%>" alt=""></a>
                    <a href="<%=postsShow.galleryImg4%>" target="_blank"><img src="<%=postsShow.galleryImg4%>" alt=""></a>
                    <a href="<%=postsShow.galleryImg5%>" target="_blank"><img src="<%=postsShow.galleryImg5%>" alt=""></a>
                    <a href="<%=postsShow.galleryImg6%>" target="_blank"><img src="<%=postsShow.galleryImg6%>" alt=""></a>
                    <a href="<%=postsShow.galleryImg7%>" target="_blank"><img src="<%=postsShow.galleryImg7%>" alt=""></a>
                    <a href="<%=postsShow.galleryImg8%>" target="_blank"><img src="<%=postsShow.galleryImg8%>" alt=""></a>
                    <a href="<%=postsShow.galleryImg9%>" target="_blank"><img src="<%=postsShow.galleryImg9%>" alt=""></a>
                    <a href="<%=postsShow.galleryImg10%>" target="_blank"><img src="<%=postsShow.galleryImg10%>" alt=""></a>
                    
                </div>

                <div id="tools"> 
                    
                    <form action="/<%=postsShow._id%>?_method=DELETE" method="POST"><input type="submit" value="DELETE" class="toolBtn"></form>
                    
                   
                    <a href="/<%=postsShow._id%>/edit" class="toolBtn" id="edit" >EDIT</a>
                 <form  action="/logout" method="POST">
                    
                    <button class="toolBtn"type="submit" name="" value="logout">
                    </form></div>
    </div>
   

    





</body>
<footer></footer>

</html>