<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wandering-Sarrthi</title>

    <link rel="stylesheet" href="/show.css">


</head>

<body>


    <div class="wrapper">

        <!-- nav bar -->
        <nav id="nav1">
            <a href="/">Home</a>

            <a href="">Gallery</a>
        </nav>

        <!-- Header -->
        <div id="title-img" style="background-image:url(<%=postsShow.title_img%>) ;">

            <h1>
                <%=postsShow.title%>
            </h1>

        </div>
        <!-- Blog Body -->
        <div id="blog-body">
            <h1 class="blogCaption">19thfeb</h1>
            <div class="blogText">
               
                <h1>summary</h1>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates dolores odit sint
                consectetur debitis, iusto quidem illo fuga molestiae? Officia dignissimos assumenda officiis laboriosam
                nostrum minima eius error repellat! Minus?Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
                quasi possimus enim soluta quia. Molestias doloremque quis, soluta, unde alias quas provident
                repellendus
                voluptate voluptatem incidunt repudiandae nesciunt, corporis Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Saepe optio, hic atque commodi nobis odit nesciunt autem corrupti quis labore at
                repellendus accusamus et quas tempore. Consequuntur repellendus expedita possimus.Lorem ipsum dolor sit
                amet consectetur adipisicing elit. Voluptates dolores odit sint
                consectetur debitis, iusto quidem illo fuga molestiae? Officia dignissimos assumenda officiis laboriosam
                nostrum minima eius error repellat! Minus?Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
                quasi possimus enim soluta quia. Molestias doloremque quis, soluta, unde alias quas provident
                repellendus
                voluptate voluptatem incidunt repudiandae nesciunt, corporis Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Saepe optio, hic atque commodi nobis odit nesciunt autem corrupti quis labore at
                repellendus accusamus et quas tempore. Consequuntur repellendus expedita possimus.
            </div>
            <div class="blogText">
                <h1>summary</h1>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates dolores odit sint
                consectetur debitis, iusto quidem illo fuga molestiae? Officia dignissimos assumenda officiis laboriosam
                nostrum minima eius error repellat! Minus?Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
                quasi possimus enim soluta quia. Molestias doloremque quis, soluta, unde alias quas provident
                repellendus
                voluptate voluptatem incidunt repudiandae nesciunt, corporis Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Saepe optio, hic atque commodi nobis odit nesciunt autem corrupti quis labore at
                repellendus accusamus et quas tempore. Consequuntur repellendus expedita possimus.Lorem ipsum dolor sit
                amet consectetur adipisicing elit. Voluptates dolores odit sint
                consectetur debitis, iusto quidem illo fuga molestiae? Officia dignissimos assumenda officiis laboriosam
                nostrum minima eius error repellat! Minus?Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
                quasi possimus enim soluta quia. Molestias doloremque quis, soluta, unde alias quas provident
                repellendus
                voluptate voluptatem incidunt repudiandae nesciunt, corporis Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Saepe optio, hic atque commodi nobis odit nesciunt autem corrupti quis labore at
                repellendus accusamus et quas tempore. Consequuntur repellendus expedita possimus.
            </div>
            <div class="blogText">
                <h1>summary</h1>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates dolores odit sint
                consectetur debitis, iusto quidem illo fuga molestiae? Officia dignissimos assumenda officiis laboriosam
                nostrum minima eius error repellat! Minus?Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
                quasi possimus enim soluta quia. Molestias doloremque quis, soluta, unde alias quas provident
                repellendus
                voluptate voluptatem incidunt repudiandae nesciunt, corporis Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Saepe optio, hic atque commodi nobis odit nesciunt autem corrupti quis labore at
                repellendus accusamus et quas tempore. Consequuntur repellendus expedita possimus.Lorem ipsum dolor sit
                amet consectetur adipisicing elit. Voluptates dolores odit sint
                consectetur debitis, iusto quidem illo fuga molestiae? Officia dignissimos assumenda officiis laboriosam
                nostrum minima eius error repellat! Minus?Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
                quasi possimus enim soluta quia. Molestias doloremque quis, soluta, unde alias quas provident
                repellendus
                voluptate voluptatem incidunt repudiandae nesciunt, corporis Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Saepe optio, hic atque commodi nobis odit nesciunt autem corrupti quis labore at
                repellendus accusamus et quas tempore. Consequuntur repellendus expedita possimus.
            </div>
        </div>

 <div class="img-box">
                    <a href="<%=postsShow.title_img%>" target="_blank"><img src="<%=postsShow.title_img%>" alt=""></a>
                    <img src="<%=postsShow.title_img%>" alt="">
                    <img src="https://i.imgur.com/OZtkpxj.jpg" alt="">
                    <a href="<%=postsShow.title_img%>" target="_blank"><img src="<%=postsShow.title_img%>" alt=""></a>
                    <a href="<%=postsShow.title_img%>" target="_blank"><img src="<%=postsShow.title_img%>" alt=""></a>
                    <a href="<%=postsShow.title_img%>" target="_blank"><img src="<%=postsShow.title_img%>" alt=""></a>
                    <img src="<%=postsShow.title_img%>" alt=""><img src="<%=postsShow.title_img%>" alt=""><img src="<%=postsShow.title_img%>" alt="">
                    <img src="https://i.imgur.com/OZtkpxj.jpg" alt=""> <img src="https://i.imgur.com/OZtkpxj.jpg" alt=""> <img src="https://i.imgur.com/OZtkpxj.jpg" alt="">
                </div>
    </div>
    <!-- <form action="/<%=postsShow._id%>?_method=DELETE" method="POST"><input type="submit" value="DELETE"></form> -->

    <!-- <a href="/<%=postsShow._id%>/edit">EDIT</a> -->





</body>
<footer></footer>

</html>